@charset "UTF-8";
@font-face {
  font-family: 'PT Sans Regular';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../fonts/PT_Sans_regular.woff") format("woff"), url("../fonts/PT_Sans_regular.ttf") format("truetype"), url("../fonts/PT_Sans_regular.otf") format("opentype");
}

@font-face {
  font-family: 'PT Sans Bold';
  font-style: normal;
  font-weight: bold;
  font-display: auto;
  src: url("../fonts/PT_Sans_bold.woff") format("woff"), url("../fonts/PT_Sans_bold.ttf") format("truetype"), url("../fonts/PT_Sans_bold.otf") format("opentype");
}

/* общие настройки */
* {
  margin: 0 auto;
}

body {
  font-family: "PT Sans Regular";
  font-size: 16px;
  background-color: #f6f6f6;
}

.re-conteiner {
  max-width: 1160px;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

.re-header-row__top {
  background-color: #dd6031;
}

.re-header-row__top .re-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.re-header-row__top .re-conteiner .re-top-left, .re-header-row__top .re-conteiner .re-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

.re-header-row__top .re-conteiner .re-payment, .re-header-row__top .re-conteiner .re-credit {
  margin: 8px 17px 14px;
}

.re-header-row__top .re-conteiner .re-phone {
  margin: 9px -15px 14px 32px;
}

#user-city {
  position: relative;
}

#user-city::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 4px;
  width: 7px;
  height: 10px;
  border: 1px solid white;
}

.re-location {
  position: relative;
  margin: 8px 55px 15px;
  color: white;
}

.re-location .re-question {
  width: 290px;
  position: absolute;
  top: 40px;
  left: -140px;
  background-color: #e6e6e6;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  color: #1c1c1c;
  -webkit-transition: .2s;
  transition: .2s;
  padding: 25px 15px 25px 20px;
  z-index: 3;
}

.re-location .re-question #user-city2 {
  font-weight: bold;
  margin: 0px 0 0 8px;
}

.re-location .re-question .re-unswer {
  padding: 0 0 0 55px;
}

.re-location .re-question a {
  color: #006fff;
  font-weight: normal;
  padding: 0 5px;
}

.re-location .re-question a:hover {
  text-decoration: underline;
}

.re-location .active {
  display: none;
}

.re-question::before {
  content: '';
  position: absolute;
  top: -40px;
  left: 45%;
  border: 20px solid transparent;
  border-bottom: 20px solid #e6e6e6;
  display: block;
  width: 0;
  height: 0;
}

.re-phone {
  position: relative;
}

.re-phone::before {
  content: url(../img/phone.png);
  position: absolute;
  left: -25px;
  top: 0px;
}

.re-header-row__down {
  background-color: white;
  -webkit-box-shadow: 0 10px 15px #9b9b9b40;
          box-shadow: 0 10px 15px #9b9b9b40;
}

.re-header-row__down .re-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.re-header-row__down .re-logo {
  padding: 18px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.re-header-menu {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.re-header-menu ul {
  padding: 30px 17px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.re-header-menu ul li {
  margin: 2px 4px;
  font-size: 1.125em;
}

.re-header-menu ul li:nth-child(1)::before {
  content: url(../img/icon1.png);
  margin: 0;
}

.re-header-menu ul li:nth-child(2)::before {
  content: url(../img/icon2.png);
  margin: 0 7px;
}

.re-header-menu ul li:nth-child(3)::before {
  content: url(../img/icon4.png);
  margin: 0 7px;
}

.re-header-menu ul li:nth-child(4)::before {
  content: url(../img/icon3.png);
  margin: 0 7px;
}

.re-header-menu ul a {
  color: #3d3d3d;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.re-header-menu ul a:hover {
  color: #dd6031;
}

.re-request-call {
  padding: 23px 26px 0;
}

.re-request-call button {
  padding: 7px 30px;
  font-size: 1.125em;
  width: 100%;
  background-color: white;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  color: #3d3d3d;
  outline: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}

.re-request-call button:hover {
  background-color: #dd6031;
  color: white;
  border: 1px solid transparent;
}

.re-cart {
  padding: 32px 0px 0;
  position: relative;
}

.re-cart p {
  position: absolute;
  top: 22px;
  right: -16px;
  display: inline-block;
  background-color: #dfdfdf;
  border-radius: 50%;
  padding: 3px 8px;
}

/* info-section */
.re-info-block .re-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 22px auto;
}

.re-info-block .re-conteiner .re-info-left {
  width: 235px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  padding: 24px 30px;
  margin: 0 28px 0 0;
}

.re-info-block .re-conteiner .re-info-right {
  margin: 0;
}

.re-counter-title h2 {
  margin: 0 0 13px;
}

.re-counter-title p {
  font-size: 1.1em;
  color: #dd6031;
  margin: 0 0 0 -2px;
}

.re-counter-timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 32px 0 23px;
}

.re-counter-timer span {
  font-size: 1.6em;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #ffa200;
}

.re-counter-timer p {
  font-size: 0.75em;
  margin: 11px 0 0 10px;
}

.re-cunter-text {
  margin: 0px 0 23px -2px;
}

.re-cunter-text p {
  font-size: 1.1em;
  color: #7e7e7e;
}

.re-counter-form {
  margin: 0px 0 0 -3px;
}

.re-counter-form input {
  width: 228px;
  border: 1px solid #dd6031;
  border-radius: 5px;
  padding: 11px 0 11px 11px;
  margin: 0 0 18px;
}

.re-counter-form button {
  background-color: white;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  color: #3d3d3d;
  outline: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
  padding: 11px 0;
  width: 241px;
}

.re-counter-form button:hover {
  background-color: #dd6031;
  color: white;
  border: 1px solid transparent;
}

.re-info-slider {
  max-width: 839px;
  margin: 0 -14px 0 0;
}

.re-info-slider .re-slider-item img {
  max-width: 839px;
}

/* subMenu-section */
.re-subMenu .re-conteiner {
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  margin: 40px auto;
}

.re-subMenu-navigation {
  padding: 46px 0 0 40px;
}

.re-subMenu-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.re-subMenu-navigation ul li {
  width: 205px;
  margin: 0 15px 30px 0;
}

.re-navigation-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.re-navigation-item .item-img {
  margin: 0 9px 0 0;
}

.re-navigation-item .re-item-description {
  margin: 0;
}

.re-navigation-item .re-item-description p {
  color: #3d3d3d;
  font-size: 1.125em;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.re-navigation-item .re-item-description p:hover {
  color: #dd6031;
}

.re-navigation-item .re-item-description span {
  color: #7e7e7e;
  font-size: 0.9375em;
}

/* section current offers */
.re-currentOffers .re-currentOffers-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 44px auto;
}

.re-currentOffers-left {
  position: relative;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  padding: 20px 30px;
  margin: 0 33px 0 0;
}

.re-currentOffers-left .re-currentOffers-left__title {
  margin: 0 0 0 30px;
}

.re-currentOffers-left .re-currentOffers-left__title h2 {
  position: relative;
  margin: 0 0 33px 0;
}

.re-currentOffers-left .re-currentOffers-left__title h2::after {
  content: 'Хиты!';
  background-color: #dd6031;
  font-size: .5em;
  color: white;
  font-weight: normal;
  padding: 4px 7px;
  position: absolute;
  top: 3px;
  margin: 0 0 0 15px;
}

.re-currentOffers-left::before,
.re-currentOffers-left::after {
  content: '';
  position: absolute;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  top: 43%;
  background-color: white;
}

.re-currentOffers-left::before {
  left: -17px;
  -webkit-box-shadow: -1px 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: -1px 0 1px rgba(0, 0, 0, 0.2);
}

.re-currentOffers-left::after {
  right: -17px;
  -webkit-box-shadow: 1px 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0 1px rgba(0, 0, 0, 0.2);
}

.re-currentOffers-slider {
  max-width: 800px;
  margin: 0;
}

.re-currentOffers-slider .re-slider-item {
  width: 160px !important;
  margin: 0 33px;
}

.re-currentOffers-slider .re-slider-item .re-item-img {
  margin: 0 0 13px;
}

.re-currentOffers-slider .re-slider-item .re-item-img img {
  width: 160px;
}

.re-currentOffers-slider .re-slider-item:hover .re-item-description p {
  color: #dd6031;
}

.re-currentOffers-slider .re-slider-item:hover .re-item-action__btn button {
  background-color: #dd6031;
  color: white;
  border: 1px solid transparent;
}

.re-currentOffers-slider .re-item-description {
  margin: 0 0 45px;
}

.re-currentOffers-slider .re-item-description p {
  color: #3d3d3d;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.re-currentOffers-slider .re-item-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0 0 25px;
}

.re-currentOffers-slider .re-item-action .re-item-price p {
  color: #7e7e7e;
}

.re-currentOffers-slider .re-item-action .re-item-price p span {
  font-weight: bold;
  color: #3d3d3d;
}

.re-currentOffers-slider .re-item-action .re-item-action__btn {
  margin: -5px 0 0;
}

.re-currentOffers-slider .re-item-action .re-item-action__btn button {
  background-color: white;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  color: #3d3d3d;
  outline: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
  padding: 4px 18px;
  color: #7e7e7e;
  transition: 0.5s ease;
  border: 1px solid #1d1d1d;
}

.re-currentOffers-right {
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 20px 25px;
}

.re-currentOffers-right .re-currentOffers-right__title h2 {
  margin: 0 0 30px;
}

.re-currentOffers-right__description {
  margin: 0 0 50px;
  color: #3d3d3d;
  line-height: 20px;
}

.re-currentOffers-right__description h4 {
  font-weight: normal;
  margin: 0 0 10px;
}

.re-currentOffers-right__description p {
  font-size: smaller;
  color: #7e7e7e;
  margin: 0 0 10px;
}

.re-currentOffers-right__description ul li {
  font-size: 0.9em;
}

.re-currentOffers-right__btn button {
  background-color: white;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  color: #3d3d3d;
  outline: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
  padding: 10px 45px 13px;
  color: #dd6031;
  border: 1px solid #dd6031;
  transition: 0.5s ease;
}

.re-currentOffers-right__btn button:hover {
  background-color: #dd6031;
  color: white;
  border: 1px solid transparent;
}

/* section-newProduct */
.re-newProduct .re-newProduct-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 44px auto;
}

.re-newProduct-content {
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  padding: 20px 30px;
  margin: 0 33px 0 0;
}

.re-newProduct-content .re-newProduct__title {
  margin: 0 0 0 30px;
}

.re-newProduct-content .re-newProduct__title h2 {
  margin: 0 0 33px 0;
}

.re-newProduct-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.re-newProduct-items .re-item {
  width: 160px;
  margin: 0 30px;
}

.re-newProduct-items .re-item .re-item-img {
  margin: 0 0 13px;
}

.re-newProduct-items .re-item .re-item-img img {
  width: 160px;
}

.re-newProduct-items .re-item:hover .re-item-description p {
  color: #dd6031;
}

.re-newProduct-items .re-item:hover .re-item-action__btn button {
  background-color: #dd6031;
  color: white;
  border: 1px solid transparent;
}

.re-newProduct-items .re-item-description {
  margin: 0 0 45px;
}

.re-newProduct-items .re-item-description p {
  color: #3d3d3d;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.re-newProduct-items .re-item-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0 0 25px;
}

.re-newProduct-items .re-item-action .re-item-price p {
  color: #7e7e7e;
}

.re-newProduct-items .re-item-action .re-item-price p span {
  font-weight: bold;
  color: #3d3d3d;
}

.re-newProduct-items .re-item-action .re-item-action__btn {
  margin: -5px 0 0;
}

.re-newProduct-items .re-item-action .re-item-action__btn button {
  background-color: white;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  color: #3d3d3d;
  outline: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
  border: 1px solid #1d1d1d;
  padding: 4px 18px;
  color: #7e7e7e;
  transition: 0.5s ease;
}

/* section aboutUs */
.re-aboutUs .re-aboutUs-row {
  margin: 0 auto 44px;
}

.re-aboutUs-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.re-aboutUs-items .re-aboutUs-item {
  position: relative;
  width: 250px;
  height: 235px;
  border-radius: 15px;
}

.re-aboutUs-items .re-aboutUs-item .re-aboutUs-description {
  position: absolute;
  top: 34%;
  left: 21%;
  text-align: center;
}

.re-aboutUs-items .re-aboutUs-item .re-aboutUs-description h2 {
  font-size: 1.9em;
  margin: 0 0 3px;
}

.re-aboutUs-items .re-aboutUs-item .re-aboutUs-description p {
  font-size: 1.0865em;
}

.re-aboutUs-item::before {
  position: absolute;
  color: rgba(255, 255, 255, 0.2);
  font-size: 12em;
  line-height: 215px;
  top: 0;
  left: 20px;
}

.re-aboutUs-item:nth-child(1) {
  margin-left: 0;
  background-color: #eabe7c;
}

.re-aboutUs-item:nth-child(1)::before {
  content: 'R';
}

.re-aboutUs-item:nth-child(2) {
  background-color: #d9dd92;
}

.re-aboutUs-item:nth-child(2)::before {
  content: 'A';
}

.re-aboutUs-item:nth-child(2)::after {
  content: url(../img/fire.png);
  position: absolute;
  bottom: 3px;
  left: 40px;
}

.re-aboutUs-item:nth-child(3) {
  background-color: #ece4b7;
}

.re-aboutUs-item:nth-child(3)::before {
  content: 'M';
}

.re-aboutUs-item:nth-child(4) {
  margin-right: 0;
  background-color: #ffa200;
}

.re-aboutUs-item:nth-child(4)::before {
  content: 'F';
}

footer {
  color: white;
}

.re-footer-row {
  background-color: #1d1d1d;
}

.re-footer-row__center,
.re-footer-menu,
.re-footer-row__top,
.re-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.re-footer-row__top {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 36px 5px 22px;
}

.re-footer-row__top .re-footer-logo {
  margin: 0 15px;
}

.re-footer-row__top .re-top-right {
  margin: 0;
}

.re-footer-row__top .re-top-right .re-location {
  margin: 8px 55px 15px;
}

.re-footer-row__top .re-top-right .re-phone {
  margin: 9px 5px 14px 7px;
}

.re-footer-row__center {
  padding: 35px 0;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
}

.re-footer-row__center .re-footer-menu {
  margin: 0;
  padding: 4px 0;
}

.re-footer-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.re-footer-menu nav {
  margin: 0 0 0 21px;
}

.re-footer-menu nav h3 {
  font-family: 'PT Sans Bold';
  margin: 0 0 13px 0;
}

.re-footer-menu nav ul li {
  padding: 0 0 10px;
}

.re-footer-menu nav ul li a {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.re-footer-menu nav ul li a:hover {
  color: #dd6031;
}

.re-footer-map {
  margin: 0 0 0 140px;
}

.re-footer-map p {
  padding: 0 0px 14px 0px;
}

.re-footer-row__down {
  padding: 0 0 20px;
}

.re-footer-signature {
  border-bottom: 1px solid #707070;
}

.re-footer-signature p {
  color: #7e7e7e;
  padding: 10px 15px;
}
/*# sourceMappingURL=style.css.map */