@charset "UTF-8";
@font-face {
  font-family: 'PT Sans Regular';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../fonts/PT_Sans_regular.woff") format("woff"), url("../fonts/PT_Sans_regular.ttf") format("truetype"), url("../fonts/PT_Sans_regular.otf") format("opentype");
}

@font-face {
  font-family: 'PT Sans Bold';
  font-style: normal;
  font-weight: bold;
  font-display: auto;
  src: url("../fonts/PT_Sans_bold.woff") format("woff"), url("../fonts/PT_Sans_bold.ttf") format("truetype"), url("../fonts/PT_Sans_bold.otf") format("opentype");
}

/* настройки */
* {
  margin: 0 auto;
}

body {
  font-family: "PT Sans Regular";
  font-size: 16px;
}

.re-conteiner {
  max-width: 1160px;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

.re-header-row__top {
  background-color: #dd6031;
}

.re-header-row__top .re-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.re-header-row__top .re-conteiner .re-top-left, .re-header-row__top .re-conteiner .re-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

.re-header-row__top .re-conteiner .re-payment, .re-header-row__top .re-conteiner .re-credit {
  margin: 8px 17px 14px;
}

.re-header-row__top .re-conteiner .re-phone {
  margin: 9px -15px 14px 32px;
}

.re-location {
  position: relative;
  margin: 8px 55px 15px;
  color: white;
}

.re-location .re-question {
  width: 290px;
  position: absolute;
  top: 40px;
  left: -140px;
  background-color: #e6e6e6;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  color: #1c1c1c;
  -webkit-transition: .2s;
  transition: .2s;
  padding: 25px 15px 25px 20px;
  z-index: 3;
}

.re-location .re-question #user-city2 {
  font-weight: bold;
  margin: 0px 0 0 8px;
}

.re-location .re-question .re-unswer {
  padding: 0 0 0 55px;
}

.re-location .re-question a {
  color: #006fff;
  font-weight: normal;
  padding: 0 5px;
}

.re-location .re-question a:hover {
  text-decoration: underline;
}

.re-location .active {
  display: none;
}

.re-question::before {
  content: '';
  position: absolute;
  top: -40px;
  left: 45%;
  border: 20px solid transparent;
  border-bottom: 20px solid #e6e6e6;
  display: block;
  width: 0;
  height: 0;
}

.re-phone {
  position: relative;
}

.re-phone::before {
  content: url(../img/phone.png);
  position: absolute;
  left: -25px;
  top: 0px;
}

.re-header-row__down {
  -webkit-box-shadow: 0 10px 15px #9b9b9b40;
          box-shadow: 0 10px 15px #9b9b9b40;
}

.re-header-row__down .re-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.re-header-row__down .re-logo {
  padding: 18px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.re-header-menu {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.re-header-menu ul {
  padding: 30px 17px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.re-header-menu ul li {
  margin: 2px 4px;
  font-size: 1.125em;
}

.re-header-menu ul li:nth-child(1)::before {
  content: url(../img/icon1.png);
  margin: 0;
}

.re-header-menu ul li:nth-child(2)::before {
  content: url(../img/icon2.png);
  margin: 0 7px;
}

.re-header-menu ul li:nth-child(3)::before {
  content: url(../img/icon4.png);
  margin: 0 7px;
}

.re-header-menu ul li:nth-child(4)::before {
  content: url(../img/icon3.png);
  margin: 0 7px;
}

.re-header-menu ul a {
  color: #3d3d3d;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.re-header-menu ul a:hover {
  color: #dd6031;
}

.re-request-call {
  padding: 23px 26px 0;
}

.re-request-call button {
  padding: 7px 30px;
  font-size: 1.125em;
  width: 100%;
  background-color: white;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  color: #3d3d3d;
  outline: none;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  cursor: pointer;
}

.re-request-call button:hover {
  background-color: #dd6031;
  color: white;
}

.re-cart {
  padding: 32px 0px 0;
  position: relative;
}

.re-cart p {
  position: absolute;
  top: 22px;
  right: -16px;
  display: inline-block;
  background-color: #dfdfdf;
  border-radius: 50%;
  padding: 3px 8px;
}

main {
  height: 699.3vh;
}

main p {
  padding: 20px;
}

footer {
  color: white;
}

.re-footer-row {
  background-color: #1d1d1d;
}

.re-footer-row__center,
.re-footer-menu,
.re-footer-row__top,
.re-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.re-footer-row__top {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 36px 5px 22px;
}

.re-footer-row__top .re-footer-logo {
  margin: 0 15px;
}

.re-footer-row__top .re-top-right {
  margin: 0;
}

.re-footer-row__top .re-top-right .re-location {
  margin: 8px 55px 15px;
}

.re-footer-row__top .re-top-right .re-phone {
  margin: 9px 5px 14px 7px;
}

.re-footer-row__center {
  padding: 35px 0;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
}

.re-footer-row__center .re-footer-menu {
  margin: 0;
  padding: 4px 0;
}

.re-footer-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.re-footer-menu nav {
  margin: 0 0 0 21px;
}

.re-footer-menu nav h3 {
  font-family: 'PT Sans Bold';
  margin: 0 0 13px 0;
}

.re-footer-menu nav ul li {
  padding: 0 0 10px;
}

.re-footer-menu nav ul li a {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.re-footer-menu nav ul li a:hover {
  color: #dd6031;
}

.re-footer-map {
  margin: 0 0 0 140px;
}

.re-footer-map p {
  padding: 0 0px 14px 0px;
}

.re-footer-row__down {
  padding: 0 0 20px;
}

.re-footer-signature {
  border-bottom: 1px solid #707070;
}

.re-footer-signature p {
  color: #7e7e7e;
  padding: 10px 15px;
}
/*# sourceMappingURL=style.css.map */