.re-header-row__top{
    background-color: $color_vanilla;
    .re-conteiner{
        @include dspFlex;
        justify-content: space-between;
        flex-wrap: nowrap;
        .re-top-left,.re-top-right{
            @include dspFlex;
            margin: 0;
        }
        .re-payment,.re-credit{
            margin: 8px 17px 14px;
        }
        .re-phone{
            margin: 9px -15px 14px 32px;
        }
    }
}
.re-location{
    position: relative;
    margin: 8px 55px 15px;
    color: $color_white;
    .re-question{
        width: 290px;
        display: flex;
        position: absolute;
        top: 40px;
        left: -140px;
        background-color: $color_location-modal;
        box-shadow: 0 3px 8px rgba(0,0,0,0.16);
        border-radius: 15px;
        color: rgba(28,28,28,100);
        transition: .2s;
        padding: 25px 15px 25px 20px;
        z-index: 3;
        #user-city2{
            font-weight: bold;
            margin: 0px 0 0 8px;
        }
        a{
            color: rgba(0,111,255,100);
            font-weight: normal;
            padding: 0 5px;
        }
        a:hover{
            text-decoration: underline;
        }
    }
    .re-question:active{
        display: none;
    }
}
.re-question::before{
    content: '';
    position: absolute;
    top: -40px;
    left: 45%;
    border: 20px solid transparent;
    border-bottom: 20px solid $color_location-modal;
    display: block;
    width: 0;
    height: 0;
}
.re-phone{
    position: relative;
}
.re-phone::before{
    content: url(../img/phone.png);
    position: absolute;
    left: -25px;
    top: 0px;
}
.re-header-row__down{
    box-shadow: 0 10px 15px #9b9b9b40;
    .re-conteiner{
        @include dspFlex;
    }
    .re-logo{
        padding: 18px ;
        flex: 1;
    }
}
.re-header-menu{
    flex: 3;
        ul{
            padding: 30px 17px 32px;
            @include dspFlex;
            justify-content: flex-end;
            li{
                margin: 2px 4px;
                font-size: 1.125em;
            }
            li:nth-child(1)::before{
                content: url(../img/icon1.png);
                margin: 0 ;
            }
            li:nth-child(2)::before{
                content: url(../img/icon2.png);
                margin: 0 7px;
            }
            li:nth-child(3)::before{
                content: url(../img/icon4.png);
                margin: 0 7px;
            }
            li:nth-child(4)::before{
                content: url(../img/icon3.png);
                margin: 0 7px;
            }
            a{
                color: $color_text_menu;
                @include transition;
            }
            a:hover{
                color: $color_vanilla;
            }
        }
}
.re-request-call{
    padding: 23px 26px 0;
    button{
        padding: 7px 30px;
        font-size: 1.125em;
        width: 100%;
        background-color: $color_white;
        border: 1px solid rgba(177,177,177,100%);
        border-radius: 5px;
        color: $color_text_menu;
        outline: none;
        @include transition;
        cursor: pointer;
    }
    button:hover{
        background-color:  $color_vanilla;
        color: $color_white;
    }
}
.re-cart{
    padding: 32px 0px 0;    
    position: relative;
    p{
        position: absolute;
        top: 22px;
        right: -16px;
        display: inline-block;
        background-color: #dfdfdf;
        border-radius: 50%;
        padding: 3px 8px;
    }
}