/* info-section */

.re-info-block{
    .re-conteiner{
        @include dspFlex;
        margin: 22px auto;
        .re-info-left{
            width: 235px;
            @include background;
            padding: 24px 30px;
            margin: 0 15px 0 0;
        }
        .re-info-right{
            margin: 0;
        }
    }
}
.re-counter-title{
    h2{
        margin: 0 0 13px;
    }
    p{
        font-size: 1.1em;
        color: $color_vanilla;
        margin: 0 0 0 -2px;
    }
}
.re-counter-timer{
    @include dspFlex;
    flex-wrap: nowrap;
    margin: 32px 0 23px;
    span{
        font-size: 1.6em;
        font-weight: bold;
        padding: 8px 12px;
        border-radius: 5px;
        background-color: $color_yellow;
    }
    p{
        font-size: 0.75em;
        margin: 11px 0 0 10px;
    }
}
.re-cunter-text{
    margin: 0px 0 23px -2px;
    p{
        font-size: 1.1em;
        color: $color_signature;
    }
}
.re-counter-form{
    margin: 0px 0 0 -3px;
    input{
        width: 228px;
        border: 1px solid $color_vanilla;
        border-radius: 5px;
        padding: 11px 0 11px 11px;
        margin: 0 0 18px;
    }
    a.anim_btn:link, a.anim_btn:visited {
        padding: 11px 31px 13px 42px;
        max-width: 166px;
    }
}
.re-info-slider{
    max-width: 850px;
    .re-slider-item{
        
        img{
            max-width: 840px;
            position: relative;
            margin: 0 10px;
        }
    }
}

/* subMenu-section */

.re-subMenu{
    .re-conteiner{
        @include background;
        margin: 40px auto;
    }
}
.re-subMenu-navigation{
    padding: 46px 0 0 40px;
    ul{
        @include dspFlex;
        li{
            width: 205px;
            margin: 0 15px 30px 0;
        }
        li a:hover .re-item-description p{
            color: $color_vanilla;
        }
    }
}
.re-navigation-item{
    @include dspFlex;
    .item-img{
        margin: 0 9px 0 0;
        img{
            width: 40px;
            height: 40px;
        }
    }
    .re-item-description{
        margin: 0;
        p{
            color: $color_text_menu;
            font-size: 1.125em;
            @include transition;
        }
        span{
           color: $color_signature;
           font-size: 0.9375em;
        }
    }
}

/* section current offers */ 

.re-currentOffers{
    .re-currentOffers-row{
        @include dspFlex;
        flex-wrap: nowrap;
        margin: 44px auto;
    }
}
.re-currentOffers-left{
    position: relative;
    @include background;
    padding: 20px 30px;
    margin: 0 33px 0 0;
    .re-currentOffers-left__title{
        margin: 0 0 0 30px;
        h2{
            position: relative;
            margin: 0 0 33px 0;
        }
        h2::after{
            content: 'Хиты!';
            background-color: $color_vanilla;
            font-size: .5em;
            color: $color_white;
            font-weight: normal;
            padding: 4px 7px;
            position: absolute;
            top: 3px;
            margin: 0 0 0 15px;
        }
    }
}
.re-currentOffers-left::before,
.re-currentOffers-left::after{
    content: '';
    position: absolute;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    top: 43%;
    background-color: $color_white;
}
.re-currentOffers-left::before{
    left: -17px;
    box-shadow: -1px 0 1px $color_box-shadow;
}
.re-currentOffers-left::after{
    right: -17px;
    box-shadow: 1px 0 1px $color_box-shadow;
}
.re-currentOffers-slider{
    max-width: 810px;
    margin: 0;
    @include current-item_hover;
    .re-slider-item{
        width: 157px !important;
        margin: 0 25px;
        cursor: pointer;
        .re-item-img{
            margin: 0 0 13px;
            img{
                width: 157px;
            }
        }
    }
    .re-item-description{
        margin: 0 0 45px;
        p{
            color: $color_text_menu;
            @include transition;
        }
    }
    .re-item-action{
        @include dspFlex;
        flex-wrap: nowrap;
        margin: 0 0 25px;
        .re-item-price{
            p{
                color: $color_signature;
                span{
                    font-weight: bold;
                    color: $color_text_menu;
                }
            }
        }
        .re-item-action__btn{
            margin: -5px 0 0;
            a.anim_btn:link, a.anim_btn:visited {
                padding: 6px 18px;
                max-width: 42px;
            }
        }
    }
}
.re-currentOffers-right{
    @include background;
    margin: 0;
    padding: 20px 25px;
    .re-currentOffers-right__title{
        h2{
            margin: 0 0 30px;
        }
    }
}
.re-currentOffers-right__description{
    margin: 0 0 50px;
    color: $color_text_menu;
    line-height: 20px;
    h4{
        font-weight: normal;
        margin: 0 0 10px;
    }
    p{
        font-size: smaller;
        color: $color_signature;
        margin: 0 0 10px;
    }
    ul{
        li{
            font-size: 0.9em;
        }
    }
}
.re-currentOffers-right__btn{
    a.anim_btn:link, a.anim_btn:visited {
        padding: 10px 40px 13px;
        max-width: 135px;
        font-size: 1.125em;
        border: 1px solid $color_vanilla;
    }
}
// modal**************************************************
.re-modal,
.re-modal__arthboard{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background-color: $color_white;
    border-radius: 10px;
    padding: 25px;
    z-index: 10;
    width: 825px;
    max-width: 75%;
    @include transition-modal;
}
.re-modal__arthboard{
    .re-modal-title{
        max-width: 520px;
        text-align: center;
        margin-bottom: 30px;
        h2{
            margin: 10px 0 20px;
        }
    }
}
.re-modal-title{
    h2{
        margin: 10px 0 40px;
    }
}
.close-button{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    background:none;
    border: none;
    outline: none;
    font-size: 3em;
    line-height: 20px;
}
.re-modal.active, .re-modal__arthboard.active{
    transform: translate(-50%,-50%) scale(1);
}
.re-modal-form__arthboard{
    .re-form-input__modal{
        .social{
            @include dspFlex;
            flex-direction: column;
            label{
                width: 246px;
                margin: 5px auto;
                input{
                    width: 20px;
                }
            }
        }
    }
}
.re-form-input__modal{
    @include dspFlex;
    justify-content: space-between;
    margin-bottom: 40px;
    input{
        @include input;
        padding: 17px 10px;
        width: 209px;
    }
    input::placeholder{
        font-size: .8em;
    }
    input[type="button"]{
        color: $color_white;
        border: none;
        background-color: $color_yellow;
        height: 54px;
        width: 231px;
    }
}
.form-modal-description{
    margin-bottom: 10px;
    p{
        font-size: 0.65em;
        a{
            color: $color_link;
        }
    }
}
#re-overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color_box-shadow;
    pointer-events: none;
    z-index: 9;
    @include transition-modal;
}
#re-overlay.active{
    opacity: 1;
    pointer-events: all;
}

/* section-newProduct */ 

.re-newProduct{
    .re-newProduct-row{
        @include dspFlex;
        flex-wrap: nowrap;
        margin: 44px auto 53px;
    }
}
.re-newProduct-content{
    @include background;
    padding: 20px 30px;
    .re-newProduct__title{
        margin: 0 0 0 30px;
        h2{
            margin: 0 0 33px 0;
        }
    }
}

.re-newProduct-items{
    max-width: 1100px;
    @include newProduct-item_hover;
    .re-item{
        width: 157px !important;
        margin: 0 30px;
        cursor: pointer;
        .re-item-img{
            margin: 0 0 13px;
            img{
                width: 157px;
            }
        }
    }
    .re-item-description{
        margin: 0 0 45px;
        p{
            color: $color_text_menu;
            @include transition;
        }
    }
    .re-item-action{
        @include dspFlex;
        flex-wrap: nowrap;
        margin: 0 0 25px;
        .re-item-price{
            p{
                color: $color_signature;
                span{
                    font-weight: bold;
                    color: $color_text_menu;
                }
            }
        }
        .re-item-action__btn{
            margin: -5px 0 0;
            a.anim_btn:link, a.anim_btn:visited {
                padding: 6px 18px;
                max-width: 42px;
            }
        }
    }
}

/* section aboutUs */
 
.re-aboutUs{
    .re-aboutUs-row{
        margin: 0 auto 44px;
    }
}
.re-aboutUs-items{
    @include dspFlex;
    justify-content: space-between;
    .re-aboutUs-item{
        position: relative;
        width: 250px;
        height: 235px;
        border-radius: 15px;
        margin: 0;
        .re-aboutUs-description{
            position: absolute;
            top: 35.5%;
            left: 23%;
            text-align: center;
            color: $color_footer-bg;
            h2{
                font-size: 1.9em;
                margin: 0 0 3px;
            }
            p{
                font-size: 1.0865em;
            }
        }
    }
    .re-aboutUs-item:nth-child(3){
        .re-aboutUs-description{
            left: 37px;
        }
    }
    .re-aboutUs-item:nth-child(1){
        .re-aboutUs-description{
            left: 48px;
        }
    }
}
.re-aboutUs-item::before{
    position: absolute;
    color: rgba(255, 255, 255, 0.2);
    font-size: 10em;
    line-height: 215px;
    top: 7px;
    left: 20px;
}
.re-aboutUs-item:nth-child(1){
    background-color: $color_apricot;
}
.re-aboutUs-item:nth-child(1)::before{
    content: 'R';
}
.re-aboutUs-item:nth-child(2){
    background-color: $color_dark-khaki;
}
.re-aboutUs-item:nth-child(2)::before{
    content: 'A';
}
.re-aboutUs-item:nth-child(2)::after{
    content: url(../img/fire.png);
    position: absolute;
    bottom: 3px;
    left: 32px;
}
.re-aboutUs-item:nth-child(3){
    background-color: $color_light-brown;
}
.re-aboutUs-item:nth-child(3)::before{
    content: 'M';
}
.re-aboutUs-item:nth-child(4){
    background-color: $color_yellow;
}
.re-aboutUs-item:nth-child(4)::before{
    content: 'F';
}

/* section formApplication */

.re-formApplication-row{
    @include dspFlex;
    justify-content: space-between;
    @include background;
    padding: 31px 0 0;
    margin: 0 auto 30px;
}
.re-formApplication-content{
    margin: 0 34px;
       .re-content-title{
           h2{
            position: relative;
            margin: 0 0 56px 0;
           }
           h2::after{
            position: absolute;
            top: 8px;
            content: 'Отвечаем в течение 15 минут';
            font-size: 0.65em;
            font-weight: normal;
            color: $color_form-after;
            margin: 0 0 0 24px;
        }
    } 
}
.re-form-input{
    input{
        width: 209px;
        @include input;
        margin: 0 17px 18px 0;
    }  
}
.re-form-textarea{
    textarea{
        width: 463px;
        height: 44px;
        @include input;
        resize: none;
        margin: 0 0 19px;
    }
}
.re-form-btn{
    @include dspFlex;
    a.anim_btn:link, a.anim_btn:visited {
        padding: 10px 16px;
        max-width: 167px;
        margin: 0 20px 0 0;
    }
    button{
        padding: 10px 16px;
        @include button;
        @include transition;
        margin: 0 20px 0 0;
    }
    button:hover{
        @include button_hover;
    }
    .re-social{
        line-height: 20px;
        ul{
            @include dspFlex;
            li{
                margin: 0 25px 0 15px;
                position: relative;
                a{
                    color: $color_form-after;
                    font-size: 0.8em;
                }
            }
            li:before{
                width: 15px;
                height: 15px;
                position: absolute;
                left: -18px;
                top: 2px;
            }
            li:nth-child(1)::before{
                content: url(../img/whatsapp-icon.png);
            }
            li:nth-child(2)::before{
                content: url(../img/viber-icon.png);
            }
            li:nth-child(3)::before{
                content: url(../img/telegram-icon.png);
            }
        }
    }
}
.re-formApplication-right{
    margin: 0 34px -4px;
}

/* section news */ 
.re-news{
    .re-news-row{
        margin: 0 auto 44px;
        .re-news-title{
            h2{
                margin: 0 0 30px;
            }
        }
    }
}
.re-news-items{
    @include dspFlex;
    justify-content: space-between;
    a{
        margin: 0;
    }
    .re-news-item{
        position: relative;
        width: 250px;
        height: 235px;
        border-radius: 15px;
        margin: 0;
        @include transition;
        .re-news-description{
            position: absolute;
            bottom: 5%;
            left: 5%;
            text-align: left;
            color: $color_white;
            z-index: 1;
            h2{
                font-size: 1.2em;
                margin: 0 0 3px;
            }
            p{
                font-size: 0.865em;
            }
        }
    }
}
.re-news-item::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 63px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: linear-gradient(to top, rgba(0,0,0,100%), rgba(0,0,0,0%));
}
.re-news-item:hover .re-news-description{
    color: $color_vanilla;
}
.re-news-item::before{
    content: url(../img/news_image-Kamin.png);
}