/* info-section */

.re-info-block{
    .re-conteiner{
        @include dspFlex;
        margin: 22px auto;
        .re-info-left{
            width: 235px;
            @include background;
            padding: 24px 30px;
            margin: 0 28px 0 0;
        }
        .re-info-right{
            margin: 0;
        }
    }
}
.re-counter-title{
    h2{
        margin: 0 0 13px;
    }
    p{
        font-size: 1.1em;
        color: $color_vanilla;
        margin: 0 0 0 -2px;
    }
}
.re-counter-timer{
    @include dspFlex;
    flex-wrap: nowrap;
    margin: 32px 0 23px;
    span{
        font-size: 1.6em;
        font-weight: bold;
        padding: 8px 12px;
        border-radius: 5px;
        background-color: $color_yellow;
    }
    p{
        font-size: 0.75em;
        margin: 11px 0 0 10px;
    }
}
.re-cunter-text{
    margin: 0px 0 23px -2px;
    p{
        font-size: 1.1em;
        color: $color_signature;
    }
}
.re-counter-form{
    margin: 0px 0 0 -3px;
    input{
        width: 228px;
        border: 1px solid $color_vanilla;
        border-radius: 5px;
        padding: 11px 0 11px 11px;
        margin: 0 0 18px;
    }
    button{
        @include button;
        padding: 11px 0;
        width: 241px;
    }
    button:hover{
        @include button_hover;
    }
}
.re-info-slider{
    max-width: 839px;
    margin: 0 -14px 0 0;
    .re-slider-item{
        img{
            max-width: 839px;
        }
    }
}

/* subMenu-section */

.re-subMenu{
    .re-conteiner{
        @include background;
        margin: 40px auto;
    }
}
.re-subMenu-navigation{
    padding: 46px 0 0 40px;
    ul{
        @include dspFlex;
        li{
            width: 205px;
            margin: 0 15px 30px 0;
        }
    }
}
.re-navigation-item{
    @include dspFlex;
    .item-img{
        margin: 0 9px 0 0;
    }
    .re-item-description{
        margin: 0;
        p{
            color: $color_text_menu;
            font-size: 1.125em;
            @include transition;
        }
        p:hover{
            color: $color_vanilla;
        }
        span{
           color: $color_signature;
           font-size: 0.9375em;
        }
    }
}

/* section current offers */ 

.re-currentOffers{
    .re-currentOffers-row{
        @include dspFlex;
        flex-wrap: nowrap;
        margin: 44px auto;
    }
}
.re-currentOffers-left{
    position: relative;
    @include background;
    padding: 20px 30px;
    margin: 0 33px 0 0;
    .re-currentOffers-left__title{
        margin: 0 0 0 30px;
        h2{
            position: relative;
            margin: 0 0 33px 0;
        }
        h2::after{
            content: 'Хиты!';
            background-color: $color_vanilla;
            font-size: .5em;
            color: $color_white;
            font-weight: normal;
            padding: 4px 7px;
            position: absolute;
            top: 3px;
            margin: 0 0 0 15px;
        }
    }
}
.re-currentOffers-left::before,
.re-currentOffers-left::after{
    content: '';
    position: absolute;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    top: 43%;
    background-color: $color_white;
}
.re-currentOffers-left::before{
    left: -17px;
    box-shadow: -1px 0 1px $color_box-shadow;
}
.re-currentOffers-left::after{
    right: -17px;
    box-shadow: 1px 0 1px $color_box-shadow;
}
.re-currentOffers-slider{
    max-width: 800px;
    margin: 0;
    .re-slider-item{
        width: 160px !important;
        margin: 0 33px;
        .re-item-img{
            margin: 0 0 13px;
            img{
                width: 160px;
            }
        }
    }
    .re-slider-item:hover .re-item-description p{
        color: $color_vanilla;
    }
    .re-slider-item:hover .re-item-action__btn button{
        @include button_hover;
    }
    .re-item-description{
        margin: 0 0 45px;
        p{
            color: $color_text_menu;
            @include transition;
        }
    }
    .re-item-action{
        @include dspFlex;
        flex-wrap: nowrap;
        margin: 0 0 25px;
        .re-item-price{
            p{
                color: $color_signature;
                span{
                    font-weight: bold;
                    color: $color_text_menu;
                }
            }
        }
        .re-item-action__btn{
            margin: -5px 0 0;
            button{
                @include button;
                padding: 4px 18px;
                color: $color_signature;
                @include transition;
                border: 1px solid $color_footer-bg;
            }
        }
    }
}
.re-currentOffers-right{
    @include background;
    margin: 0;
    padding: 20px 25px;
    .re-currentOffers-right__title{
        h2{
            margin: 0 0 30px;
        }
    }
}
.re-currentOffers-right__description{
    margin: 0 0 50px;
    color: $color_text_menu;
    line-height: 20px;
    h4{
        font-weight: normal;
        margin: 0 0 10px;
    }
    p{
        font-size: smaller;
        color: $color_signature;
        margin: 0 0 10px;
    }
    ul{
        li{
            font-size: 0.9em;
        }
    }
}
.re-currentOffers-right__btn{
    button{
        @include button;
        padding: 10px 45px 13px;    
        color: $color_vanilla;
        border: 1px solid $color_vanilla;
        @include transition;
    }
    button:hover{
        @include button_hover;
    }
}

/* section-newProduct */ 

.re-newProduct{
    .re-newProduct-row{
        @include dspFlex;
        flex-wrap: nowrap;
        margin: 44px auto 53px;
    }
}
.re-newProduct-content{
    @include background;
    padding: 20px 30px;
    margin: 0 33px 0 0;
    .re-newProduct__title{
        margin: 0 0 0 30px;
        h2{
            margin: 0 0 33px 0;
        }
    }
}

.re-newProduct-items{
    @include dspFlex;
    flex-wrap: nowrap;
    .re-item{
        width: 160px;
        margin: 0 30px;
        .re-item-img{
            margin: 0 0 13px;
            img{
                width: 160px;
            }
        }
    }
    .re-item:hover .re-item-description p{
        color: $color_vanilla;
    }
    .re-item:hover .re-item-action__btn button{
        @include button_hover;
    }
    .re-item-description{
        margin: 0 0 45px;
        p{
            color: $color_text_menu;
            @include transition;
        }
    }
    .re-item-action{
        @include dspFlex;
        flex-wrap: nowrap;
        margin: 0 0 25px;
        .re-item-price{
            p{
                color: $color_signature;
                span{
                    font-weight: bold;
                    color: $color_text_menu;
                }
            }
        }
        .re-item-action__btn{
            margin: -5px 0 0;
            button{
                @include button;
                border: 1px solid $color_footer-bg;
                padding: 4px 18px;
                color: $color_signature;
                @include transition;
            }
        }
    }
}

/* section aboutUs */
 
.re-aboutUs{
    .re-aboutUs-row{
        margin: 0 auto 44px;
    }
}
.re-aboutUs-items{
    @include dspFlex;
    justify-content: space-between;
    .re-aboutUs-item{
        position: relative;
        width: 250px;
        height: 235px;
        border-radius: 15px;
        margin: 0;
        .re-aboutUs-description{
            position: absolute;
            top: 35.5%;
            left: 23%;
            text-align: center;
            color: $color_footer-bg;
            h2{
                font-size: 1.9em;
                margin: 0 0 3px;
            }
            p{
                font-size: 1.0865em;
            }
        }
    }
    .re-aboutUs-item:nth-child(3){
        .re-aboutUs-description{
            left: 37px;
        }
    }
    .re-aboutUs-item:nth-child(1){
        .re-aboutUs-description{
            left: 48px;
        }
    }
}
.re-aboutUs-item::before{
    position: absolute;
    color: rgba(255, 255, 255, 0.2);
    font-size: 10em;
    line-height: 215px;
    top: 7px;
    left: 20px;
}
.re-aboutUs-item:nth-child(1){
    background-color: $color_apricot;
}
.re-aboutUs-item:nth-child(1)::before{
    content: 'R';
}
.re-aboutUs-item:nth-child(2){
    background-color: $color_dark-khaki;
}
.re-aboutUs-item:nth-child(2)::before{
    content: 'A';
}
.re-aboutUs-item:nth-child(2)::after{
    content: url(../img/fire.png);
    position: absolute;
    bottom: 3px;
    left: 32px;
}
.re-aboutUs-item:nth-child(3){
    background-color: $color_light-brown;
}
.re-aboutUs-item:nth-child(3)::before{
    content: 'M';
}
.re-aboutUs-item:nth-child(4){
    background-color: $color_yellow;
}
.re-aboutUs-item:nth-child(4)::before{
    content: 'F';
}

/* section formApplication */

.re-formApplication-row{
    @include dspFlex;
    justify-content: space-between;
    @include background;
    padding: 31px 0 0;
    margin: 0 auto 30px;
}
.re-formApplication-content{
    margin: 0 34px;
       .re-content-title{
           h2{
            margin: 0 0 56px 0;
           }
           h2::after{
               content: 'Отвечаем в течение 15 минут';
               font-size: 0.65em;
               font-weight: normal;
               color: $color_form-after;
               margin: 0 0 0 24px;
           }
       } 
}
.re-form-input{
       input{
            width: 209px;
           @include input;
           margin: 0 17px 18px 0;
       }
       
}
.re-form-textarea{
    textarea{
        width: 463px;
        height: 44px;
        @include input;
        resize: none;
        margin: 0 0 19px;
    }
}
.re-form-btn{
    @include dspFlex;
    button{
        padding: 10px 16px;
        @include button;
        @include transition;
        margin: 0 20px 0 0;
    }
    button:hover{
        @include button_hover;
    }
    .re-social{
        line-height: 20px;
        ul{
            @include dspFlex;
            li{
                margin: 0 25px 0 15px;
                position: relative;
                a{
                    color: $color_form-after;
                    font-size: 0.8em;
                }
            }
            li:before{
                width: 15px;
                height: 15px;
                position: absolute;
                left: -18px;
                top: 2px;
            }
            li:nth-child(1)::before{
                content: url(../img/whatsapp-icon.png);
            }
            li:nth-child(2)::before{
                content: url(../img/viber-icon.png);
            }
            li:nth-child(3)::before{
                content: url(../img/telegram-icon.png);
            }
        }
    }
}
.re-formApplication-right{
    margin: 0 34px -4px;
}

/* section news */ 
.re-news{
    .re-news-row{
        margin: 0 auto 44px;
        .re-news-title{
            h2{
                margin: 0 0 30px;
            }
        }
    }
}
.re-news-items{
    @include dspFlex;
    justify-content: space-between;
    a{
        margin: 0;
    }
    .re-news-item{
        position: relative;
        width: 250px;
        height: 235px;
        border-radius: 15px;
        margin: 0;
        @include transition;
        .re-news-description{
            position: absolute;
            bottom: 5%;
            left: 5%;
            text-align: left;
            color: $color_white;
            h2{
                font-size: 1.2em;
                margin: 0 0 3px;
            }
            p{
                font-size: 0.865em;
            }
        }
    }
}
.re-news-item:hover .re-news-description{
    color: $color_vanilla;
}
.re-news-item::before{
    content: url(../img/news_image-Kamin.png);
}