/* info-section */

.re-info-block{
    .re-conteiner{
        @include dspFlex;
        margin: 22px auto;
        .re-info-left{
            width: 235px;
            @include background;
            padding: 24px 30px;
            margin: 0 28px 0 0;
        }
        .re-info-right{
            margin: 0;
        }
    }
}
.re-counter-title{
    h2{
        margin: 0 0 13px;
    }
    p{
        font-size: 1.1em;
        color: $color_vanilla;
        margin: 0 0 0 -2px;
    }
}
.re-counter-timer{
    @include dspFlex;
    flex-wrap: nowrap;
    margin: 32px 0 23px;
    span{
        font-size: 1.6em;
        font-weight: bold;
        padding: 8px 12px;
        border-radius: 5px;
        background-color: $color_yellow;
    }
    p{
        font-size: 0.75em;
        margin: 11px 0 0 10px;
    }
}
.re-cunter-text{
    margin: 0px 0 23px -2px;
    p{
        font-size: 1.1em;
        color: $color_signature;
    }
}
.re-counter-form{
    margin: 0px 0 0 -3px;
    input{
        width: 228px;
        border: 1px solid $color_vanilla;
        border-radius: 5px;
        padding: 11px 0 11px 11px;
        margin: 0 0 18px;
    }
    button{
        @include button;
        padding: 11px 0;
        width: 241px;
    }
    button:hover{
        @include button_hover;
    }
}
.re-info-slider{
    max-width: 839px;
    margin: 0 -14px 0 0;
    .re-slider-item{
        img{
            max-width: 839px;
        }
    }
}

/* subMenu-section */

.re-subMenu{
    .re-conteiner{
        @include background;
        margin: 40px auto;
    }
}
.re-subMenu-navigation{
    padding: 46px 0 0 40px;
    ul{
        @include dspFlex;
        li{
            width: 205px;
            margin: 0 15px 30px 0;
        }
    }
}
.re-navigation-item{
    @include dspFlex;
    .item-img{
        margin: 0 9px 0 0;
    }
    .re-item-description{
        margin: 0;
        p{
            color: $color_text_menu;
            font-size: 1.125em;
            @include transition;
        }
        p:hover{
            color: $color_vanilla;
        }
        span{
           color: $color_signature;
           font-size: 0.9375em;
        }
    }
}

/* section current offers */ 

.re-currentOffers{
    .re-currentOffers-row{
        @include dspFlex;
        flex-wrap: nowrap;
        margin: 44px auto;
    }
}
.re-currentOffers-left{
    position: relative;
    @include background;
    padding: 20px 30px;
    margin: 0 37px 0 0;
    .re-currentOffers-left__title{
        margin: 0 0 0 30px;
        h2{
            position: relative;
            margin: 0 0 33px 0;
        }
        h2::after{
            content: 'Хиты!';
            background-color: $color_vanilla;
            font-size: .5em;
            color: $color_white;
            font-weight: normal;
            padding: 4px 7px;
            position: absolute;
            top: 3px;
            margin: 0 0 0 15px;
        }
    }
}
.re-currentOffers-left::before,
.re-currentOffers-left::after{
    content: '';
    position: absolute;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    top: 43%;
    background-color: $color_white;
}
.re-currentOffers-left::before{
    left: -16px;
    box-shadow: -1px 0 1px $color_box-shadow;
}
.re-currentOffers-left::after{
    right: -16px;
    box-shadow: 1px 0 1px $color_box-shadow;
}
.re-currentOffers-slider{
    max-width: 800px;
    margin: 0;
    .re-slider-item{
        width: 160px !important;
        margin: 0 33px;
        .re-item-img{
            margin: 0 0 13px;
            img{
                width: 160px;
            }
        }
    }
    .re-item-description{
        margin: 0 0 45px;
        p{
            color: $color_text_menu;
        }
    }
    .re-item-action{
        @include dspFlex;
        flex-wrap: nowrap;
        margin: 0 0 25px;
        .re-item-price{
            p{
                color: $color_signature;
                span{
                    font-weight: bold;
                    color: $color_text_menu;
                }
            }
        }
        .re-item-action__btn{
            margin: -5px 0 0;
            button{
                @include button;
                padding: 4px 18px;
                color: $color_signature;
            }
        }
    }
}
.re-currentOffers-right{
    @include background;
    margin: 0;
    padding: 20px 25px;
    .re-currentOffers-right__title{
        h2{
            margin: 0 0 30px;
        }
    }
}
.re-currentOffers-right__description{
    h4{

    }
    p{

    }
    ul{
        li{

        }
    }
}
.re-currentOffers-right__btn{
    button{

    }
}