@media (max-width: 767px){
    html,body{
        overflow-x: hidden;
        font-size: 14px;
        .lock{
            overflow: hidden;
        }
    }
    
    .re-header{
        top: 0;
    }
    .re-header-row__top,
    .re-header-menu,
    .re-request-call,
    .re-currentOffers-right,
    .re-currentOffers-left::before, 
    .re-currentOffers-left::after
    {
        display: none;
    }
    .re-header-row__down{
        .re-logo{
            flex: 0;
            img{
                width: 142px;
            }
        }
    }
    .re-cart{
        left: -20%;
        top: -10px;
    }
    .burger-menu{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        top: 25px;
        left: 15%;
    }
    .burger-menu span{
        position: absolute;
        background-color: $color_burger-menu;
        left: 0;
        width: 100%;
        height: 3px;
        top: 9px;
        -webkit-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
    }
    .burger-menu::before,
    .burger-menu::after{
        content: '';
        background-color: $color_burger-menu;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        -webkit-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
    }
    .burger-menu::before{
        top: 0;
    }
    .burger-menu::after{
        bottom: 0;
    }
    .burger-menu.active span{
        -webkit-transform: scale(0);
            -ms-transform: scale(0);
                transform: scale(0);
    }
    .burger-menu.active::before{
        -webkit-transform:rotate(45deg);
            -ms-transform:rotate(45deg);
                transform:rotate(45deg);
        top:9px;
    }
    .burger-menu.active::after{
        -webkit-transform:rotate(-45deg);
            -ms-transform:rotate(-45deg);
                transform:rotate(-45deg);
        bottom:8px
    }

    .re-info-block{
        .re-conteiner{
            flex-direction: column-reverse;
            .re-info-left{
                flex: 1;
                margin: 0 auto;
                width: auto;
            }
        }
    } 
    .re-counter-form{
        margin: 0 auto;
        input{
            margin: 0 auto 18px;
        }
    }  
    .re-info-slider{
        max-width: 300px;
        margin: 0 auto 25px;
        .re-slider-item{
            img{
                max-width: 280px;
            }
        }
    }
    .re-newProduct-items{
        max-width: 300px;
        .re-item{
            margin: 0 13px;
        }
    }
    .re-newProduct-content{
        .re-newProduct__title{
            h2{
                margin: 0 auto 33px;
                text-align: center;
            }
        }
    }  
    .re-currentOffers{
        .re-currentOffers-row{
            flex-wrap: wrap;
        }
    } 
    .re-currentOffers-left{
        padding: 20px 0px;
        margin: 0 auto;
        .re-currentOffers-left__title{
            margin: 0 auto;
            h2{
                padding: 0 5px;
            }
        }
    } 
    
    .re-currentOffers-slider{
        max-width: 300px;
        margin: 0 auto;
        .re-slider-item{
            margin: 0 13px;
        }
    }
    .re-aboutUs-items{
        .re-aboutUs-item{
            margin: 0 auto 22px;
        }
    } 
    .re-news-items a{
        margin: 0 auto 22px;
    }
    .re-formApplication-content{
        margin: 0 auto 34px;
    }
    .re-news{
        .re-news-row{
            .re-news-title h2{
                margin: 0 auto 30px;
                text-align: center;
            }
        }
    }  
    .re-newProduct-content{
        padding: 20px 0px;
    }
    .re-formApplication-content{
           .re-content-title{
               h2{
                margin: 0 auto 56px;
                text-align: center;
               }
               h2::after{
                top: 35px;
                left: 19%;
                margin: 0 auto;
            }
        } 
    }
    .re-form-textarea{
        textarea{
            width: 207px;
        }
    } 
    .re-form-btn a.anim_btn:link, .re-form-btn a.anim_btn:visited{
        margin: 0 auto 20px;
        max-width: 199px;
    }
    .re-formApplication-right{
        margin: 0 auto -4px;
    }
    .re-footer-row__top{
        flex-wrap: nowrap;
    }
    
    .re-footer-row__top{
        position: relative;
        .re-top-right{
            position: absolute;
            .re-location{
            }
            .re-phone{
            }
        }
        .re-footer-logo{
            margin: 0 0 0 30px;
            img{
                width: 142px;
            }
        }
    }
    
    .re-footer-map{
        p{
            width: 245px;
        }
        .re-google-map{
            width: 300px;
            iframe{
                height: 215px;
                width: 360px;
            }
        }
        margin: 0 auto;
    }
    .re-info-slider{
        margin: 0 auto 25px;
    }
    .re-content-form{
        width: 233px;
    } 
    .re-social{
        p{
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 425px){
}
@media (max-width: 414px){
    
    .re-info-block{
        .re-conteiner{
            .re-info-left{
                padding: 24px 50px;
            }
        }
    } 
    .re-info-slider{
        margin: 0 auto 25px;
    }
}
@media (max-width: 375px){
    .re-info-block{
        .re-conteiner{
            .re-info-left{
                padding: 24px 20px;
            }
        }
    }  
}

@media (max-width: 360px){
}
@media (max-width: 320px){
    .re-info-slider{
        margin: 0 auto 25px;
    }
}