@media (max-width: 767px){
    html,body{
        overflow-x: hidden;
        font-size: 14px;
    }
    body.lock{
        overflow: hidden;
    }
    .re-header{
        top: 0;
    }
    .re-header-row__top,
    .re-header-menu,
    .re-request-call,
    .re-currentOffers-right,
    .re-currentOffers-left::before, 
    .re-currentOffers-left::after,
    .re-footer-row__top .re-top-right
    {
        display: none;
    }
    .re-header{
        position: fixed;
        width: 100%;
    }
    .re-header-row__down{
        .re-conteiner{
            .re-logo{
                flex: 0;
                z-index: 2;
               a img{
                    width: 142px;
                }
            }
        }
    }
    .re-cart{
        left: -20%;
        top: -10px;
    }
    .re-form-input__modal input{
        margin-bottom: 15px;
        width: 255px;
    }
    .re-form-input__modal input[type="button"]{
        width: 275px;
    }
    .re-modal-title h2{
        font-size: 2em;
    }
    .form-modal-description p{
        font-size: 0.85em;
    }
    .re-mobile-menu{
        display: block;
        position: fixed;
        top: 67px;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: $color_white;
        color: $color_text_menu;
        @include transition;
        a{
            color: $color_text_menu;
        }
        a.anim_btn:link, a.anim_btn:visited{
            padding: 3% 20%;
            max-width: 37%;
            font-size: 1.125em;
            margin-top: 20px;
        }
        ul{
            a{
                display: block;
                position: relative;
                padding: 15px 25px;
                border-top: 1px solid $color_box-shadow;
            }
            a:nth-child(6){
                border-bottom: 1px solid $color_box-shadow;
            }
            a:after{
                content: '>';
                position: absolute;
                right: 5%;
                top: 15%;
                font-size: 2em;
                color: $color_box-shadow;
            }
            a:nth-child(2)::after{
                content: '';
            }
            a:nth-child(2)::before{
                content: url(../img/phone-mobile.png);
                position: absolute;
                left: 7%;
            }
            a:nth-child(1),
            a:nth-child(2){
                padding-left: 17%;
            }
            #user-city::before{
                content: '';
                position: absolute;
                left: -13%;
                top: 2px;
                width: 7px;
                height: 10px;
                border: 1px solid $color_text_menu;
            }
        }
    }
    .re-mobile-menu.active{
        left: 0;
    }
    .burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        top: 25px;
        left: 15%;
        z-index: 1;
    }
    .burger span{
        position: absolute;
        background-color: $color_burger-menu;
        left: 0;
        width: 100%;
        height: 3px;
        top: 9px;
        @include transition;
    }
    .burger::before,
    .burger::after{
        content: '';
        background-color: $color_burger-menu;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        @include transition;
    }
    .burger::before{
        top: 0;
    }
    .burger::after{
        bottom: 0;
    }
    .burger.active span{
        transform: scale(0);
    }
    .burger.active::before{
        transform:rotate(45deg);
        top:9px;
    }
    .burger.active::after{
        transform:rotate(-45deg);
        bottom:8px
    }

    .re-info-block{
        .re-conteiner{
            flex-direction: column-reverse;
            margin: 90px auto 22px;
            .re-info-left{
                flex: 1;
                margin: 0;
                width: auto;
            }
        }
    } 
    .re-counter-form{
        margin: 0 auto;
        input{
            margin: 0 auto 18px;
            width: 280px;
        }
    }  
    .re-counter-form a.anim_btn:link, .re-counter-form a.anim_btn:visited{
        padding: 11px 72px 13px;
        max-width: 145px;
        margin: 0;
    }
    .re-info-slider{
        max-width: 300px;
        margin: 0 auto 25px;
        .re-slider-item{
            img{
                max-width: 280px;
            }
        }
    }
    .re-newProduct-items{
        max-width: 355px;
        .re-item{
            margin: 0 25px;
        }
    }
    .re-newProduct-content{
        padding: 20px 10px;
        .re-newProduct__title{
            h2{
                margin: 0 auto 33px;
                text-align: center;
            }
        }
    }  
    .re-currentOffers{
        .re-currentOffers-row{
            flex-wrap: wrap;
        }
    } 
    .re-currentOffers-left{
        padding: 20px 10px;
        margin: 0 auto 30px;
        .re-currentOffers-left__title{
            margin: 0 auto;
            h2{
                padding: 0 5px;
                margin: 0 33px 33px;
            }
        }
    } 
    
    .re-currentOffers-slider{
        max-width: 355px;
        margin: 0;
        .re-slider-item{
            margin: 0 25px;
        }
    }
    .re-aboutUs-items{
        .re-aboutUs-item{
            margin: 0 auto 22px;
        }
    } 
    .re-news-items a{
        margin: 0 auto 22px;
    }
    .re-formApplication-content{
        margin: 0 auto 34px;
    }
    .re-news{
        .re-news-row{
            .re-news-title h2{
                margin: 0 auto 30px;
                text-align: center;
            }
        }
    }  
    .re-formApplication-content{
           .re-content-title{
               h2{
                margin: 0 auto 56px;
                text-align: center;
               }
               h2::after{
                top: 35px;
                left: 11%;
                margin: 0 auto;
            }
        } 
    }
    .re-form-textarea{
        textarea{
            width: 207px;
        }
    } 
    .re-form-btn a.anim_btn:link, .re-form-btn a.anim_btn:visited{
        margin: 0 auto 20px;
        max-width: 199px;
    }
    .re-formApplication-right{
        margin: 0 auto -4px;
    }
    .re-footer-row__top{
        position: relative;
        flex-wrap: nowrap;
        .re-footer-logo{
            margin: 0 0 0 7%;
            img{
                width: 142px;
            }
        }
    }
    .re-footer-row__center{
        padding: 0 0 35px;
        .re-footer-menu{
            flex-direction: column;
            padding: 0;
            .re-menu-column{
                margin: 0;
                border-bottom: 1px solid $color_footer-row;
                h3{
                    position: relative;
                    margin: 15px 7%;
                }
                h3::after{
                    content: url(../img/footer-icon-btn.png);
                    position: absolute;
                    right: 0;
                }
                ul li{
                   margin: 0 0 0 7%;
                }
            }
        }
    }
    
    .re-footer-map{
        margin: 0 auto;
        .re-adress{
            margin: 0 10%;
        }
        p{
            width: 245px;
        }
        .re-google-map{
            width: 300px;
            iframe{
                height: 215px;
                width: 360px;
            }
        }
        .re-top-right{
            padding: 15px 0 0;
            .re-location, .re-phone{
                margin: 8px auto 0px;
            }
            .re-phone::before{
                left: 33px;
            }
            #user-city::before{
                left: -30px;
            }
        }
        .re-footer-mobile__location{
            display: block;
        }
    }
    .re-menu-column{
        ul{
            li{
                display: none;
            }
        }
    }
    .re-content-form{
        width: 233px;
    } 
    .re-social{
        p{
            margin-bottom: 10px;
        }
    }
    // deliveryPage
    .re-breadcumbs{
        margin: 80px 10px 10px;
    }
    .re-delivery-row{
        margin: 20px auto 30px;
        p{
            line-height: 20px;
            font-size: 1.125em;
        }
    }
    .sub-head{
        margin: 15px 0;
    }
    // category page
    .re-category-left__sidebar{
        margin: 0 auto;
    }
    .re-category-row{
        flex-wrap: wrap;
    }
    .re-categoty-product__item{
        margin: 0 auto 8%;
        padding: 2% 8% 0;
    }
    .re-sortBy{
        text-align: center;
    }
    // cart-order page
    .re-cart-order__form-row{
        flex-wrap: wrap;
    }
    .re-order-row{
        padding: 20px 20px 30px;
    }
    .re-order-product{
        margin-bottom: 20px;
    }
    .re-order-product__img{
        margin-right: 20px;
    }
    .re-order-product__item{
        flex-wrap: nowrap;
        margin: 0 0 30px;
    }
    .re-order-product__orderSum{
        text-align: left;
        margin: 0;
    }
    .re-orderForm-btn p{
        line-height: 16px;
        text-align: left;
        padding: 5px 25% 0 0;
    }
    #re-formInput{
        margin-bottom: 20px;
        input{
            width: 95%;
            max-width: 300px;
            margin: 0 auto 15px;
        }
    } 
    .re-orderformRadio{
        @include dspFlex;
        flex-direction: column;
        justify-content: left;
        margin-bottom: 20px;
        label{
            margin: 0 0 10px;
        }
    }
    .re-cart-order__content,.re-cart-order__sidebar{
        margin:0 auto 30px ;
    }
    .re-order-sidebar__title{
        margin-bottom: 20px;
        p{
            text-align: center;
        }
    }
    .re-cart-order__sidebar .re-social{
        text-align: left;
        margin-bottom: 20px;
        max-width: 75%;
        ul{
            justify-content: center;
        }
    }
    .re-order-sidebar__img{
        text-align: center;
        img{
            position: inherit;
            margin-bottom: -3px;
        }
    }
}

@media (max-width: 414px){
    .re-info-block{
        .re-conteiner{
            .re-info-left{
                padding: 24px 50px;
            }
        }
    } 
    .re-info-slider{
        margin: 0 auto 25px;
    }
}
@media (max-width: 375px){
    .re-info-block{
        .re-conteiner{
            .re-info-left{
                padding: 24px 40px;
            }
        }
    }  
}
@media (max-width: 360px){
    .re-footer-map .re-top-right .re-phone::before{
        left: 27px;
    }
}

@media (max-width: 320px){
    .re-info-slider{
        margin: 0 auto 25px;
    }
    .re-footer-map .re-top-right .re-phone::before{
        left: 9px;
    }
    .re-info-block .re-conteiner .re-info-left{
        padding: 24px 15px;
    }
    .re-currentOffers-left{
        .re-currentOffers-left__title{
            h2{
                margin: 0 0 33px;
            }
        }
    } 
}