@mixin dspFlex{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    flex-wrap:wrap;
} 
@mixin transition{
    transition: all 0.3s ease;
}
@mixin transition-modal{
    transition: all 0.2s ease-in-out;
}
@mixin transform {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
@mixin button{
    background-color: $color_white;
    border: 1px solid rgba(177,177,177,100%);
    border-radius: 5px;
    color: $color_text_menu;
    position: relative;
    display: block;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    @include transition;
    cursor: pointer;
}
@mixin a_after {
    content: "";
    position: absolute;
    background: none repeat scroll 0 0 $color_vanilla;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 100%;
    z-index: -1;
    @include transition;
}
@mixin current-item_hover {
    .re-slider-item:hover .re-item-description p{
        color: $color_vanilla;
    }
    .re-slider-item:hover .re-item-action__btn a.anim_btn:link{
        color: $color_white;
    }
    .re-slider-item:hover .re-item-action__btn a.anim_btn:visited{
        color: $color_white;
    }
    .re-slider-item:hover .re-item-action__btn a.anim_btn:link::after{
        height: 500%;
    }
    .re-slider-item:hover .re-item-action__btn a.anim_btn:visited::after{
        height: 500%;
    }
}
@mixin newProduct-item_hover{
    .re-item:hover .re-item-description p{
        color: $color_vanilla;
    }
    .re-item:hover .re-item-action__btn a.anim_btn:link{
        color: $color_white;
    }
    .re-item:hover .re-item-action__btn a.anim_btn:visited{
        color: $color_white;
    }
    .re-item:hover .re-item-action__btn a.anim_btn:link::after{
        height: 500%;
    }
    .re-item:hover .re-item-action__btn a.anim_btn:visited::after{
        height: 500%;
    }
}
@mixin button_hover{
    background-color:  $color_vanilla;
    color: $color_white;
}
@mixin background {
    background-color: $color_white;
    border-radius: 10px;
    box-shadow: 0 3px 3px $color_box-shadow;
}
@mixin input {
    padding: 11px;
    border-radius: 5px;
    border: 1px solid $color_vanilla;
}