@mixin dspGrid{
    display: -ms-grid;
    display: grid;
}  
@mixin dspFlex{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    flex-wrap:wrap;
} 
@mixin transition{
    transition:0.7s;
}