*{
    margin: 0 auto;
}
body{
    font-family:"PT Sans Regular";
    font-size: 16px;
}
.re-conteiner{
    max-width: $widthContent;
}
a{
    text-decoration: none;
    color: $color_white;
}
ul{
    padding: 0;
    li{
        list-style: none;
        
    }
}