// width
$widthContent: 1160px;
// colors
$color_light-brown: rgba(236,228,183,100%);
$color_dark-khaki: rgba(217,221,146,100%);
$color_apricot: rgba(234,190,124,100%);
$color_vanilla: rgba(221,96,49,100%);
$color_brown: rgba(49,30,16,100%);
$color_yellow: rgba(255,162,0,100%);
$color_white: rgba(255,255,255,100%);
$color_text_menu:rgba(61,61,61,100%);
$color_box-shadow: rgba(155,155,155, 20%);
$color_footer-bg: rgba(29,29,29,100%);
$color_footer-row: rgba(112,112,112,100%);
$color_location-modal: rgba(230,230,230,100%);
$color_signature: rgba(126,126,126,100)